.article-container
{
    //префиксы это хот фикс, заметила в последний момент, что не работает в мозиле. это должен делать автопрефиксер
    -webkit-column-count: 2;
    -moz-column-count:    2;
    column-count:         2;
    -webkit-column-width: auto;
    -moz-column-width:    auto;
    column-width:         auto;
    -webkit-column-gap:   3em;
    -moz-column-gap:      3em;
    column-gap:           3em;
    column-rule:          1px solid gray;
    padding-right:        49px;

    @media #{$devices}
    {
        column-count: 1;
    }
}

.article-paragraph
{
    @include paragraph;
    margin-bottom: 19px;
    text-indent:   $padding-small;

    &:not(:first-of-type)
    {
        margin-top: $padding-default;
    }
}

.article-list
{
    @include paragraph;

    &.part-one
    {
        counter-reset: articlecounter;
    }

    &.part-one,
    &.part-two
    {
        > li
        {
            &::before
            {
                content:           counter(articlecounter) '. ';
                counter-increment: articlecounter;
                font-weight:       bolder;
                color:             $medium-gray;
            }
        }
    }
}

.article-list-title
{
    margin-top: 4px;
    color:      $medium-gray;
}

.article-list-content
{
    padding-left: $padding-small;
}
