@import 'components';

body *
{
    color:       $gray;
    font-family: Arial, sans-serif;
}

.container
{
    max-width: $content-area;
    margin:    0 auto;
    padding:   $padding-default * 2 $padding-default;
}

.section
{
    margin-bottom:  $padding-default * 2;
    padding-bottom: $padding-default * 2;
    border-bottom:  1px solid $gray;
}
