$content-area: 889px;
$padding-default: 23px;
$padding-small: 16px;

$light-gray: rgb(239, 238, 237);
$lighter-gray: rgb(200, 200, 200);
$gray: rgb(112, 114, 117);
$medium-gray: rgb(76, 77, 82);
$darkest-gray: rgb(55, 63, 69);
$darker-gray: rgb(149, 148, 148);
$dark-gray: rgb(92, 94, 95);
$white: rgb(255, 255, 255);
$black: rgb(42, 42, 42);
$green: rgb(119, 140, 3);

//gradient colors
$white-1: rgb(251, 251, 251);
$white-2: rgb(252, 252, 252);
$gray-1: rgba(0, 0, 0, 0.11);
$gray-2: rgba(0, 0, 0, 0.49);
$gray-3: rgba(0, 0, 0, 0.55);
$gray-4: rgb(229, 229, 229);
$gray-5: rgba(177, 181, 183, 0.25);
$gray-6: rgba(0, 0, 0, 0.07);
$gray-7: rgba(0, 0, 0, 0.44);
$gray-8: rgba(255, 255, 255, 0.48);
$gray-9: rgb(247, 247, 247);
$gray-10: rgba(202, 202, 202, 0.45);
$gray-11: rgba(134, 134, 134, 0.05);
$gray-12: rgba(0, 0, 0, 0.04);
$gray-13: rgba(0, 0, 0, 0.12);

$transition: all .5s ease;

$device-max: 800px;
$mobile-max: 479px;
$desktops: 'only screen and (min-width: #{$device-max + 1})';
$devices: 'only screen and (max-width: #{$device-max})';
$mobiles: 'only screen and (max-width: #{$mobile-max})';
